.bganim {
    position: relative;
    background-image: url(../img/backGroundAnim.png);
    height: 100vh;
    background-size: auto 100%;
    /* 1.7605633802816901408450704225352 = 3250 / 1846 */
    background-position-x: calc(100vh * 1.7605633802816901408450704225352);
    background-position-y: 0;
    background-repeat: repeat-x;
    animation: bgAnim 5s linear infinite;
}

@keyframes bgAnim {
    from {
        background-position-x: calc(100vh * 1.7605633802816901408450704225352);
    }
    to {
        background-position-x: 0;
    }
}

.dino {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -125px;
    width: 250px;
}

.infoBox {
    position: absolute;
    width: 300px;
    bottom: 60%;
    left: 50%;
    margin-left: -150px;
    background-color: rgba(0, 96, 109, 0.7);
}

.coin {
    width: 150px;
}

.counter {
    font-family: 'VT323', monospace;
    font-size: 65px;
    color: white;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    width: 300px;
    vertical-align: middle;
}

.btnSac {
    margin-bottom: 30px;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.btnHist {
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin-bottom: 30px;
}